/* Overall */

body {
  line-height: 1.5;
}

.heading, .course_heading {
  font-family: 'Montserrat', Verdana, sans-serif;
  font-size: 50px;
  font-weight: 600;
}

#banner_below, .banner a, #info_quote, #info_hiring, .info_aside_text, .course_courses, .course_text, .thesis_words, .thesis_info {
  font-family: 'Roboto', Verdana, sans-serif;
}

header, footer {
  font-family: 'Muli', Verdana, sans-serif;
}


/* Header Section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: #EFEFEF;
  background-size: cover;
  position: fixed;
  color: #474747;
}

.header_logo_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.header_name_font {
  font-size: 24px;
}

.header_name_bold {
  font-weight: 700;
}

header img {
  margin-left: 24px;
  margin-right: 5px;
}

header nav {
  font-size: 0;
  margin-right: 12px;
}

header nav a {
  font-size: 18px;
  color: #474747;
}

.header_nav_space {
  margin-right: 16px;
}


/* Banner Section */

.banner {
  padding-top: 64px;
  display: flex;
  flex-direction: row;
  background-color: #555F6E;
  color: #DEE3EA;
}

.banner img {
  margin: 32px 24px;
  width: 55%;
  height: 55%;
}

.banner_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 36px;
}

#banner_heading {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
}

#banner_below {
  font-size: 25px;
  font-weight: 500;
  width: 75%;
  margin-bottom: 30px;
}

.banner a {
  width: 65%;
  background-color: #D0D4DB;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 24px;
  color: #555F6E;
  font-weight: 500;
}


/* Information Section */

.info {
  display: flex;
  flex-direction: row;
  background-color: #8A99AD;
  padding-bottom: 32px;
  color: #DEE5EF;
}

.info a {
  color: #DEE5EF;
}

.info_main {
  display: flex;
  margin-left: 24px;
  width: 60%;
  flex-direction: column;
  justify-content: center;
}

.info_main img, #info_heading, #info_quote, #info_hiring {
  width: 93%;
}

.info_main img {
  margin: 32px 0 32px 0px;
}

.info_main_description {
  display: flex;
  flex-direction: column;
}

#info_heading {
  font-size: 38px;
  margin-bottom: 24px;
}

#info_quote, #info_hiring {
  font-size: 18px;
}

#info_hiring {
  margin-top: 32px;
  font-size: 16px;
  color: #D5DCE5;
}

.info_aside {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 32px 0 0 0;
}

.info_aside_block {
  display: flex;
  flex-direction: row;
}

.info_aside_block img {
  width: 35%;
  height: 35%;
  margin: 16px;
}

.info_aside_text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 8px;
}

.info_margin {
  margin: 8px 0;
}

.info_first {
  font-family: 'Montserrat', Verdana, sans-serif;
  font-size: 27px;
  font-weight: 600;
}

.info_orientation {
  background-color: #58829D;
  border: 5px solid #58829D;
  border-radius: 15px 15px 0 0;
}

.info_campus {
  background-color: #789EB5;
  border: 5px solid #789EB5;
}

.info_guest, .info_guest a {
  background-color: #94B1C2;
  border: 5px solid #94B1C2;
  border-radius: 0 0 15px 15px;
  color: #EAEFF5;
}


/* Courses Section */

.courses {
  display: flex;
  flex-direction: column;
  background-color: #B3BCC9;
  color: #5A6568;
}

.courses_heading {
  margin: 32px 0;
  text-align: center;
}

.course_body_one, .course_body_two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 72px 32px 72px;
}

.course_body_block {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.course_body_block img {
  height: auto;
  width: 100%;
}

.course_description {
  padding: 16px 16px 24px 16px;
  display: flex;
  flex-direction: column;
}

.course_margin {
  margin-right: 32px;
}

.course_heading {
  font-weight: 500;
  font-size: 25px;
}

.course_courses {
  font-weight: 300;
  font-size: 18px;
  margin: 8px 0;
  color: #7f8c90;
}

.course_text {
  font-weight: 300;
  font-size: 19px;
}


/* Thesis Section */

.thesis {
  display: flex;
  flex-direction: column;
  background-color: #E1E5EA;
  color: #566071;
  padding: 0 0 32px 24px;
}

.thesis_heading {
  text-align: center;
  margin: 32px 0;
}

.thesis_body {
  display: flex;
  flex-direction: row;
}

.thesis_video {
  display: inline-flex;
  flex-direction: column;
  width: 60%;
  justify-content: flex-start;
  margin-right: 24px;
}

.thesis_quote {
  display: flex;
  flex-direction: column;
}

.thesis_title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 8px;
}

video {
  margin: 0 0 24px 0;
  width: 100%;
}

.thesis_words {
  font-size: 18px;
}

.thesis_aside {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesis_block {
  display: flex;
  flex-direction: row;
}

.thesis_block img {
  margin: 16px;
  width: 35%;
  height: 50%;
}

.thesis_fisma {
  background-color: #58829D;
  border: 5px solid #58829D;
  border-radius: 15px 15px 0 0;
  color: #DEE5EF;
}

.thesis_now {
  background-color: #789EB5;
  border: 5px solid #789EB5;
  border-radius: 0 0 15px 15px;
  color: #E7ECF3;
}

.thesis_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.thesis_label {
  font-size: 27px;
  font-weight: 600;
}


/* Footer Section */

footer {
  margin: 16px 24px 16px 24px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #474747;
  font-size: 18px;
}

footer nav {
  font-size: 0;
}

footer nav a {
  font-size: 18px;
  color: #474747;
}

.footer_padding {
  padding-right: 16px;
}
